# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


server/node_modules
client/node_modules
server/config
server/models 
server/sockets
server/utils
server/routes
.env 
.gitignore

client/src/firebase
server/jwmultiplayer-firebase-adminsdk-2952g-1bfce059ed.json
server/jw-daily-firebase-adminsdk.json
server/google-services (2).json
server/app.js 
